@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    height: 100vh;
    background-color: rgb(68, 68, 68);
    overflow-x: hidden;
}

/*background*/
#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: ' ';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.80) 15%, rgba(10, 12, 16, 0.07)  50%, rgba(10, 12, 16, 1.9) 100%  ); 
}

/*navbar*/

header {
    padding: 0 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}


.navbar .logo .a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap:  2rem;
}

.navbar a {
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(121, 0, 90);
    font-weight: bold;
}

/*dropdown_menu :)*/
.dropdown_menu {
    position: absolute;
    height: 0px;
    right: 2rem;
    top: 60px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu.open{
    height: 100px;
    
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/*Responsividade*/
@media(max-width: 992px){
    .navbar .links,
    .navbar  .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}  

section#princip {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

section#princip h1 {
    font-size: 4rem;
    text-align: center;
}

section#princip p {
    font-size: 2rem;
    text-align: center;
}

main {
    background-color: rgb(29, 29, 29);
}

main h1 {
    font-size: 3rem;
    text-align: center;
}

/*Cars*/
.container1 {
    display: flex;
    width: 96%;
    padding: 20px;
    margin: 1rem;
}

.card {
    flex: 1;
    width: 800px;
    height: 400px;
    transition: flex 0.8s ease;
    transition-delay: 0.2s;
}

.card img {
    object-fit: cover;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.329);
}

.card:hover {
    flex: 3;
}

.card:hover img {
    filter: none;
}

#borde1 {
    border-radius: 20px 0px 0px 20px;
}

#borde2 {
    border-radius: 0px 20px 20px 0px;
}

/*podio*/

#classification {
}

#title {
    background-color: brown;
    box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.329);
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top h1 {
    padding: 0 15%;
}

.top1 {
    margin: 0px 0px 50px;
}

.container {
    width: 94%;
    padding: 20px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.box {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    margin: 0 5px;
    transition: 1s;
    margin-top: 60px;
    
}

.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 6px 7px 1px rgba(0, 0, 0, 0.329);
}

.box:hover {
    transform:scale(1.3);
    z-index: 2;
}

.boxcont {
    left: 80%;
    position: absolute;
    width: 20%;
    height: 20%;
}

/*Names*/

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name h1 {
    font-size: 20px;
    padding: 0px 8%;
}

/*Tabela*/




table {
    
    display: table;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    margin-top: 20rem;   
    
    
    
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
}

th, td {
    border-top: 1px;
    border-left: 0px;
    border-bottom: 1px;
    border-right: 0px;
    border-style: solid;
    text-align: center;
    padding: 30px 0px 30px 0px;
}

th {
    border-top: 2px;
    border-left: 0px;
    border-bottom: 2px;
    border-color: brown;
    border-right: 0px;
    border-style: solid;
}

.piloto {
    height: 70px;
    width: 80px;
}

.piloto img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    transition: 1s;
    transition-delay: 0.2;
}

.piloto img:hover {
    transform:scale(1.3);
    z-index: 2;
}

.pos {
    color: green;
    font-weight: bolder;
}

#tops {
    border-bottom: 5px;
    border-style: solid;
    color: aquamarine;
}

/*equips*/

.rbr {
    color: blueviolet;
    font-weight: bold;
}

.mc {
    color: rgb(212, 89, 0);
    font-weight: bold;
}
.ferrari {
    color: rgb(182, 0, 0);
    font-weight: bold;
}

.mercedes {
    color: aqua;
    font-weight: bold;
}

.aston {
    color: rgb(0, 95, 63);
    font-weight: bold;
}

.hass {
    color: rgb(248, 166, 166);
    font-weight: bold;
}

.alphine{
    color: rgb(120, 175, 157);
    font-weight: bold;
}

.rb {
    color: rgb(168, 168, 168);
    font-weight: bold;
}

.sauber {
    color: green;
    font-weight: bold;
}

.williams {
    color: blue;
    font-weight: bold;
}


/*Equipe*/

.equipe {
    width: 60px;
    height: 50px;
}


 .equipe img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
    transition-delay: 0.25;
}

.equipe img:hover {
    transform:scale(1.3);
    z-index: 2;
}

td {
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}
